<section>
  <h1>Preprocessors</h1>
  <ul>
    <li class="fragment fade-out" data-fragment-index="1" data-dc-remove="true">Make it easier to write CSS</li>
    <li class="fragment fade-in" data-fragment-index="1">Make it easier to write <strong>good</strong> CSS</li>
    <li class="fragment fade-in" data-fragment-index="1">Make it easier to write <strong>bad</strong> CSS</li>
  </ul>
  <aside class="notes" data-markdown>
Before we get onto techniques to deal with this situation I want to cover preprocessors.

Preprocessors aren't a technique - they are an authoring tool.

>>>>

They make it easier to write good CSS but they also make it easier to write bad CSS.
  </aside>
</section>
