<section>
  <h1>Single name space</h1>

  <aside class="notes" data-markdown>
CSS has a single name space which means that if we're not very careful and disciplined we'll inevitably end up with conflicts.

This is pretty much how all CSS code bases of any size get out of control.

Let's have a look at an example of how this happens.

Admittedly this is a fairly trivial example but if you've worked with a CSS code base of any size you will be familiar with this situation.
  </aside>
</section>


