<section>
  <h1>SMACSS Principles</h1>
  <ul>
    <li>Structured code</li>
    <li>Depth of applicability</li>
    <li>Minimum specificity</li>
  </ul>

  <aside class="notes" data-markdown>
The key principles of SMACSS are:

### Structured code.
You should structure your code in a logical manner to minimise conflicts - don't just keep putting rules in at the bottom of the file.

### Depth of applicability
If our CSS has too much depth of applicability then we can't re-use it.  If a presentation is tied to one area of our site then we can't reuse it elsewhere.

### Minimum specificity
The easiest way to avoid specificity issues is to always strive to use the minimum practical specificity, which is typically "one class".

It's better to have several "**one class**" selectors rather than one "**several class**" selector.
  </aside>
</section>
