<section>
  <h1>CSS</h1>
  <h2><strong>C</strong>ascading <strong>S</strong>tyle <strong>S</strong>heets</h2>
  <aside class="notes" data-markdown>
Today I'm giving a talk about CSS at a JavaScript conference which might seem a little odd.

So let's have a show of hands:

 * Who writes CSS? (Most of you?)

Keep your hand up if:

 * You **like** writing CSS? (Not many of you?)

OK, thanks - you can put your hands down now.  The difference between those two groups is why I'm giving a CSS talk at a JavaScript conference.

  </aside>
</section>






