<section class="invert intro">
  <section data-background="#1E163D" data-dc-strap="false">
    <h1 class="title">{{{ title }}}</h1>
    <h3 class="name"><img src="assets/img/decadecity.png" alt="Decade City's avatar" class="avatar"/>Orde Saunders</h3>
    <p>
      <a href="http://twitter.com/decadecity">@decadecity</a>
      <span class="spacer"></span>
      <a href="http://decadecity.net">decadecity.net</a>
    </p>
  </section>
</section>
