<section class="invert intro">
  <section data-background="#1E163D" data-dc-strap="false">
    <h1 class="title">{{{ title }}}</h1>
    <h3 class="name"><img src="assets/img/decadecity.png" alt="Decade City's avatar" class="avatar"/>Orde Saunders</h3>
    <p>
      <a href="http://twitter.com/decadecity">@decadecity</a>
      <span class="spacer"></span>
      <a href="http://decadecity.net">decadecity.net</a>
    </p>
    <aside class="notes" data-markdown>

Hi - my Name is Orde and I'm a consultant who specialises in building device agnostic websites.

I've worked with companies ranging from one room startups to international corporates.

There's a write up of this talk on my website - decadecity.net.

    </aside>
  </section>
</section>
