<section class="invert">
  <section class="contact" data-background="#1E163D" data-dc-strap="false">
    <h1 class="name"><img src="img/decadecity.png" alt="Decade City's avatar" class="avatar"/>Orde Saunders</h1>
    <div><div><div class="contact-icon"><img src="img/twitter.svg"/></div><span class="invisible">orde</span>@<span class="highlight">decadecity</span><span class="invisible">.net</span></div>
    <div>
    <div class="contact-icon"><img src="img/email.svg"/></div>orde@<span class="highlight">decadecity</span>.net</div>
    <div>
    <div class="contact-icon"><img src="img/web.svg"/></div><span class="invisible">orde@</span><span class="highlight">decadecity</span>.net<span class="light"></div>
  </div>
  </section>
</section>
