<section>
  <h1>Acceptable Failures</h1>

  <aside class="notes" data-markdown>

We've seen lots of failure modes here and we've seen that there's no realistic way to determine how they are distributed (although it's very easy to convince ourselves that we do actually know).

We've seen that 0.2% of people using Gov.uk have JavaScript disabled and we thought that was maybe an OK number to ignore.  That's an acceptable failure rate.

So where do we draw the line about what's an acceptable failure and what's not?

Is it when the chief exec happens to be on one of the ISPs that's having trouble with our CDN?

Or it won't work on his phone because it doesn't support the latest JavaScript API that we're relying on?

Or does that kind of thing not matter if it's only some of our customers that are affected?

Hopefully it's not too many of our customers.

At least not enough of our customers that it will generate enough support tickets to trigger an incident which will have to be reported to management and we have to start explaining it.

  </aside>
</section>


<!--


essentially - what's the level of acceptable casualties?

because who doesn't love that phrase?  it's fine if you're the person who's categorising the casualties.  it's much less fine if you're one of the casualties.

but in this industry there's no clear distinction.  you've just come out of the meeting where you decided what your level of acceptable casualties is and you go to check something using your mobile and the site you wanted is down for you - you're now someone else's acceptable casualty and that's no longer acceptable.

this isn't an industry where we can use our privilege to insulate ourselves from the consequences of our collective behaviour as much as we'd like - the web is so ubiquitous that we're interacting with it, generally without thinking about it.  as an industry we tend not to introspect in that 360 degree manner.
-->
