<section>
  <h1>Acceptable Casualties</h1>

  <aside class="notes" data-markdown>

Essentially - what's the level of acceptable casualties?

Because who doesn't love that phrase?

It's fine if you're the person who's categorising the casualties.  it's much less fine if you're one of the casualties.

But in this industry there's no clear distinction.

You've just come out of the meeting where you decided what your level of acceptable casualties is and you go to check something using your mobile and the site you wanted is down for you - you're now someone else's acceptable casualty and that's no longer acceptable.

This isn't an industry where we can use our privilege to insulate ourselves from the consequences of our collective behaviour as much as we'd like.

The web is so ubiquitous that we're interacting with it, generally without thinking about it.  As an industry we tend not to introspect in that 360 degree manner.

  </aside>
</section>

