<section>
  <h1>E-commerce Baseline</h1>
  <ol>
    <li>Find a product</li>
    <li>Add it to your basket</li>
    <li>Delivery instructions</li>
    <li>Pay</li>
  </ol>

  <aside class="notes" data-markdown>

Lets take the example of an e-commerce site, it's a familiar concept and we all probably use this flow at least on a daily basis.

   1. find a product
   2. add it to your basket
   3. add delivery instructions
   4. pay

That's the minimum, you can't take one of those steps away and still be viable as an e-commerse business.

Note the things that aren't in that list:

  * Registration - you have taken enough information to fulfil the order, you don't need them to have a user account.
  * Upsell - if you don't make the sale in the first place then you can't upsell.
  * Interactive 3D virtual product tour - yeah, sure that looks pretty but if they can't purchase it then what's the point?

  </aside>
</section>
