<section>
  <p>
    <img src="/assets/img/pe/safari-ios_128x128.png" alt="iOS Safari" class="fragment" data-fragment-index="1" style="vertical-align:top;" />
    <img src="/assets/img/pe/chromevssafari.png" alt="Feature comparison"/>
    <img src="/assets/img/pe/chrome_128x128.png" alt="Chrome" class="fragment" data-fragment-index="2" style="vertical-align:top;" />
  </p>

  <aside class="notes" data-markdown>

This is <a href="http://caniuse.com/#compare=chrome+45,ios_saf+9&amp;compare_cats=JS%20API">data from a site called Can I Use?</a>  It tracks what features are supported by browsers.

This table is showing the difference in support for a selection of features between two contemporary browsers.

It's easy to look at your analytics and say that you don't support older browsers - people should just upgrade their browsers if they're going to use your site.

However, let's look at this from another angle.

Who here has an iPhone?  You're the red column. >>>>>

Who here uses Chrome?  You're the green column. >>>>

  </aside>
</section>
