<section>
  <h1>Content Blockers</h1>

  <blockquote class="fragment">
    "Ad blockers can also have technical downsides, sometimes causing websites to load erratically. In one of our tests, one website crashed repeatedly when an ad blocker was turned on."
  </blockquote>

  <aside class="notes" data-markdown>


Who uses a content blocker?

(Ghostery, AdBlock, Disconnect, an iOS content blocker...)

Earlier this month the <a href="http://www.nytimes.com/interactive/2015/10/01/business/cost-of-mobile-ads.html">New York Times did some research involving content blockers</a>.

>>>>

If people using these privacy extensions are visiting your site then you probably know nothing about them:

your analytics are almost certainly completely dependent on JavaScript so if it's getting blocked in the browser then you have no idea about it.

  </aside>
</section>
