<section>
  <h1>Engineering Principle</h1>

  <aside class="notes" data-markdown>

To start with I want to make one thing clear:  Progressive Enhancement is an engineering principle.

Front end development has a cult of tooling:  "Just install the latest version of this package..."

Progressive Enhancement is an engineering principle - not a tooling issue.  It is an approach to building websites.

If someone says that they can't do progressive enhancement because they are using a certain tool that shows they neither understand progressive enhancement nor the tool they are using.

I appreciate that might sound pretty harsh.  And I also appreciate that for some people in the audience that statement is going to be directly confrontational and I make no apologies for that.

Hopefully by the end of this talk you'll understand why I'm saying that.  And if not, we can talk about it afterwards.

  </aside>
</section>


