<section>
  <h1>Enhancements</h1>

  <aside class="notes" data-markdown>
These things are all enhancements.  They are going to make your site a much more pleasant experience and you'll be selling a lot more units.  But you won't sell anything if you're baseline functionality doesn't work.

Having this baseline helps you when things go wrong.  The rest of you site still works if the 3D virtual product tour goes wrong - after all, it's probably running more code than the rest of your site put together.  With a maximally reliable baseline and truly progressive enhancements then you have multiple levels of redundancy.
  </aside>
</section>

