<section>
  <h1>Fault Tolerance</h1>

  <aside class="notes" data-markdown>

We saw earlier that things can, and will, fail for reasons beyond our control.

This solid baseline with progressive enhancements inherently provides us with fault tolerance.

As long as the baseline works we're viable.  Our enhancements are progressive - not critical.  If some of the enhancements fail we don't bring the whole twirling shit show of clown horns to an abrupt halt because you can't do 3D rendering or a web font has failed to load.

So we've seen the enhancement part, now we're looking at the progressive part.  It's not a binary transition between two states - as the name says, it's a progression.  And you can be anywhere along that progression and it's still working.

We're not building a glass cannon:  something that's incredibly powerful but in practice it's too fragile to be of use unless it's under ideal conditions.

Because ideal conditions rarely occur anywhere outside our development environments.

  </aside>
</section>
