<section>
  <h1>The History of the Web</h1>
  <p>1995 - The first browser war</p>
  <p class="fragment">
    <img src="/assets/img/pe/best_viewed_with.jpeg" alt="Best viewed with..."/>
  </p>

  <aside class="notes" data-markdown>

Then came the browser wars.

Microsoft and Netscape were both adding features with no standards or oversight.

Providing a baseline that would work everywhere but utilising new features if they were present was the way to go.

>>>>

(or stick a best viewed in... badge on your site.)

This free for all wasn't sustainable and eventually gave rise to the web standards project.

  </aside>
</section>
