<section>
  <h1>The History of the Web</h1>
  <p>2005 - The second browser war</p>

  <aside class="notes" data-markdown>

However, there was only so long that this enforced stagnation could continue.  Eventually people had pushed the current technology as far as it could go.

Mozilla's Firefox now started leading the resurgence of Web Standards but, for all the progress Firefox made, Internet Explorer 6 was still dominant.

The best way to cope with both the older technology of IE6 and the newer standards compliant browsers was to start with a common baseline that worked in both.

  </aside>
</section>
