<section>
  <h1>The History of the Web</h1>
  <p>2001 - The IE6 monoculture and "Web 2.0"</p>

  <aside class="notes" data-markdown>

Thanks to <a href="http://www.justice.gov/atr/cases/f3800/msjudgex.htm#iv">deliberate anti-competitive behaviour</a> to build and exploit a monopoly position, we ended up with a browser monoculture.

However, rather than stagnating we saw the rise of "Web 2.0".

As people learned how to make better use of the technology they were enable to enhance experiences even without new browser technology.

  </aside>
</section>
