<section>
  <h1>JavaScript</h1>

  <aside class="notes" data-markdown>

OK, let's address the elephant in the room:  JavaScript.

This will be the bit some of you have been waiting for - in fact this is probably what you thought this talk was going to be about.

Certainly in recent years, the debate around Progressive Enhancement tends to get simplified and exaggerated to the presence or absence of JavaScript.

There's no doubt JavaScript is incredibly useful but it's also fragile.

  </aside>
</section>
