<section>
  <h1>Network Connectivity</h1>
  <p><img src="/assets/img/pe/aws_outage.png" alt="Network issues" class="fragment"/></p>

  <aside class="notes" data-markdown>

One of the obvious answers is network connectivity.  Not just flaky mobile networks but also infrastructure.

Serving JavaScript from a CDN is widely regarded as a best practice - and with good reason.

So who here works on a site where the JavaScript is served from a CDN?

>>>>

CDNs, proxies, caches and pretty much any other networking infrastructure that your site travels through are all potential points of failure and there is nothing you can do to prevent them failing.

  </aside>
</section>
