<section>
  <h1>JavaScript disabled?</h1>
  <p>0.2%</p>
  <div class="fragment">
    <h2>&hellip;or just not available?</h2>
    <p>0.9%</p>
  </div>

  <aside class="notes" data-markdown>

<a href="https://gds.blog.gov.uk/2013/10/21/how-many-people-are-missing-out-on-javascript-enhancement/
">Gov.uk carried out some research into the availability of JavaScript</a> and found that 0.2% of people had JavaScript disabled.

But that's not the whole story.

>>>

The really interesting thing here is that whilst only 0.2% of people didn't have JavaScript enabled - they also found that for 0.9% of people JavaScript had failed for some other reason.

So what could these reasons be and what can we do about them?
  </aside>
</section>
