<section>
  <h1>Older browsers</h1>

  <aside class="notes" data-markdown>

One of the key themes emerging from the history of the web is that we have to deal with differing levels of technology.

In recent years people will tend to think of older versions of IE but usage has dropped and attitudes have changed.

With sites' analytics showing that the majority of users are now using the latest versions of modern browsers it's tempting to think that the issue of different browser technologies is solved - we now have some form of ideal and universal "web platform".

  </aside>
</section>
