<section>
  <h1>Progressive Enhancement</h1>
  <ol>
    <li>Baseline (it works)</li>
    <li>Enhance (it works better)</li>
  </ol>

  <aside class="notes" data-markdown>

So far this has been a bit negative - I've been focussing on the problems.

Let's have a look at how applying the principle of Progressive Enhancement can provide solutions.

There are two key parts to Progressive Enhancement:

 1. Baseline (it works)
 2. Enhance (it works better)

But this is fairly abstract.  Let's see what that means in practice.

  </aside>
</section>

