<section>
  <h1>What is Progressive Enhancement?</h1>
  <ol>
    <li>Start with a baseline</li>
    <li>Progressively enhance</li>
  </ol>

  <aside class="notes" data-markdown>

So, now it's time for our wrap up.

What is Progressive Enhancement?

 1. Start with a baseline
 2. Progressively enhance

That's it.  How you achieve this in practice will depend.

There's no one universal truth about where the baseline is.  That's for you to determine based on your circumstances.

And, as long as they are progressive, it doesn't matter what your enhancements are.

Progressive Enhancement is a principle, not a tool.  It doesn't matter what your tools are, you can still apply the principle.

  </aside>
</section>
