<section>
  <h1>T-shaped skills</h1>

  <aside class="notes" data-markdown>

I'm going to take a slight digression here and talk about the T-shaped skills model.

This refers to how people's skills are typically structured.

The vertical stem represents deep knowledge in a narrow subject area.  This is your specialism, this is what you're best at.

The horizontal bar represents a shallow knowledge of a broad range of subjects.  This is what enables you to understand how your specialism best fits within a wider context.  This is what makes your specialism useful.

  </aside>
</section>
