<section>
  <h1>Technical Investment</h1>

  <aside class="notes" data-markdown>

Progressive Enhancement is the opposite of technical debt - it's technical investment.

You're setting yourself up for success.  In the future the choices you have available to you will be be wider.  You've invested in this and you've earned interest that you can now use.  As long as you don't start compromising that investment in Progressive Enhancement you can keep drawing the interest.

Progressive enhancement is backwards compatible and future friendly.

  </aside>
</section>
