<section>
  <h1>Technical Debt</h1>

  <aside class="notes" data-markdown>

There is a concept called technical debt - which I'm sure some of you are already familiar with.

Essentially technical debt is when the consequence of previous choices start to affect your ability to do things.  By taking particular approaches in the past you've limited the choices available to you in the present.

Now, the thing you're trying to do might not be in those available choices.  If you want to get it done you have to pay off some of your technical debt to open up those choices again.

  </aside>
</section>
