<section>
  <h1>Integration</h1>

  <aside class="notes" data-markdown>

At this stage we're doing shallow testing on a broad range of devices and conditions.  We're checking compatibility and we're checking reliability.

It is strongly recommended that at this stage time is spent in a device lab to ensure maximum testing coverage, not just on mobile, tablet and desktop devices but also games consoles, smart TVs and other devices.

Use a network conditioner or proxy to simulate slow and unreliable networks.  See what happens when you run a content blocker.

You're not going to be performing a full regression test in every condition, the initial testing should have covered the details of the functionality.

The purpose of this testing is to ensure that there are no issues that impair core usability and accessibility.

  </aside>
</section>


