<section>
  <h1>Operational</h1>

  <aside class="notes" data-markdown>

In the final phase we're returning to a deep and narrow focus.

We know it's functional and we know it's compatible.  What we're now looking at is the operational use.

If you look at your analytics you'll almost certainly see that the majority of your users are using a small number of browsers.

At this stage you focus in on those browsers, after all they represent the majority of how people are using your site.

Yet again, we've got the confidence of our baseline which is enabling us to spend our time and effort on the enhancements.

  </aside>
</section>


