<section>
  <h1>Testing</h1>

  <aside class="notes" data-markdown>
Now this may well seem like this is going to require more testing.  Actually it's not going to require more testing - it just means you need to think about it a bit more.

In practice, whilst you might find you spend a bit more effort on testing, because you're now much more fault tolerant you're going to find less faults that need fixing.

The length of testing cycles isn't determined by testing - it's determined by how much time you spend fixing and re-testing faults.

However, you do need to approach your testing in a different way.  You're not going to be running full regressions in every browser - you need a more structured approach.

  </aside>
</section>
