<section>
  <h1>Users Aren't Browsers</h1>

  <aside class="notes" data-markdown>

This is why browser support isn't a binary choice.

When you work on a website it's easy to think in terms of individuals interacting in discrete sessions.

But that's not how you think of how you yourself use other websites - you use different browsers at different times to access a single website.

An individual interacting with a website isn't a one-to-one relationship:  one individual has many interactions with one website.

  </aside>
</section>

