<section>
  <h1>Who disables JavaScript?</h1>

  <aside class="notes" data-markdown>

JavaScript is treated as a given these days - it's considered a safe assumption that it will always be available so you can rely on it.

It's the keystone of the mythical "web platform".

But what do we mean when we say JavaScript is always available?

We've already covered browser support - older browsers may have JavaScript enabled but the version of JavaScript they are running might not support the features you want to use.  So, even though someone hasn't chosen to disable JavaScript, if you want to use that unsupported feature the effect is the same: it's not enabled.

  </aside>
</section>

