---
title: "Presentations"
theme: "decadecity"
strap: true
ignore: true
---
<section>
  <ul>
    {{#each pages}}{{#unless this.data.ignore}}
    <li><a href="{{this.relativeLink}}">{{replace this.data.title '<br/>' ' '}}</a></li>
    {{/unless}}{{/each}}
  </ul>
</section>
