          <section class="fling social" data-background="#fff">
            <div class="split">
              <div class="item first">
                <h2>Refresh</h2>
                <p>&nbsp;</p>
                <p>Edinburgh - first Wedndesay<br/>@refreshedi</p>
                <p>&nbsp;</p>
                <p>Glasgow - third Wednesday<br/>@refreshgla</p>
              </div>
              <div class="item second">
                <h2>TechMeetup</h2>
                <p>@techmeetup</p>
                <p>Edinburgh - second Wednesday</p>
                <p>Glasgow - fourth Wednesday</p>
                <p>Aberdeen - third Wednesday</p>
                <p>Dundee - last Tuesday</p>
                <p>Inverness - last Monday</p>
              </div>
            </div>

            <h2>Product Tank</h2>
            <p>last Tuesday of the month<br/>&nbsp;</p>

            <h2>Open Tech Calendar</h2>
            <p><u>http://opentechcalendar.co.uk</u></p>
            <p>@OpenTechCal</p>

          </section>
