<div id="sponsors">
  <ul class="companies">
    <li><a href="https://www.fanduel.com/"><img src="assets/img/fling/sponsors/fanduel.png" alt="FanDuel"></a></li>
    <li><a href="http://www.freeagent.com/"><img src="assets/img/fling/sponsors/freeagent.png" alt="FreeAgent"></a></li>
    <li><a href="http://www.campaignmonitor.com/"><img src="assets/img/fling/sponsors/campaign-monitor.png" alt="Campaign Monitor"></a></li>
    <li><a href="http://decadecity.net/"><img src="assets/img/fling/sponsors/decadecity.png" alt="Decade City"></a></li>
  </ul>
</div>
