          <section>
            <h1>Caveat</h1>
            <div id="doge">
              <img class="doge" src="img/perf/doge.png" alt="doge">
              <ul class="doge-quotes">
                <li class="quote1">very missing detail</li>
                <li class="quote2">such omissions</li>
                <li class="quote3">many oversimplification</li>
                <li class="quote4">wow</li>
              </ul>
            </div>
            <aside class="notes" data-markdown>
This is an introduction to the concepts involved, there is an awful lot more to this topic that what I'm going to cover today.  As a result I've simplified a lot of things.  In fact I've oversimplified quite a few things because the details would just confuse things at this level.
            </aside>
          </section>
