          <section class="image-valign">
            <h1>CSS</h1>
            <img class="fragment" src="assets/img/perf/dom-css-render.svg" alt="The DOM and CSS are required for rendering">
            <img class="fragment" src="assets/img/perf/styled.png" alt="Styled HTML">
            <aside class="notes" data-markdown>
That something else is CSS.  Before it renders a page to screen the browser needs both the DOM and the CSS.

>>>>

What happens is the browser goes through the HTML looking for any references to CSS files and requests them.  Once it has all the referenced CSS files it is then in a position to render the page.

>>>>>
            </aside>
          </section>
