          <section class="image-valign">
            <h1>HTML</h1>
            <img class="fragment" src="assets/img/perf/dom-render.svg" alt="Only the DOM used for rendering">
            <img class="fragment" src="assets/img/perf/unstyled.png" alt="Unstyled HTML">
            <aside class="notes" data-markdown>
Once the browser has the HTML it can parse it and build the DOM tree.

>>>>

The DOM tree is the data structure that the browser uses to represent a web page.

If the browser were to render the DOM tree at this point we would just see unstyled content.

>>>>

Given we don't normally see this then there must be something else going on.
            </aside>
          </section>
