          <section>
            <h1>First paint unblocked</h1>
            <div class="fragment">
              <img src="img/perf/blocked-rendering-waterfall.svg" alt="Blocked rendering shown on a waterfall diagram">
            </div>
            <div class="fragment">
              <img src="img/perf/unblocked-rendering-waterfall.svg" alt="Unblocked rendering shown on a waterfall diagram">
            </div>

            <aside class="notes" data-markdown>
With these two techniques we've gone from this:

>>>>

To this:

>>>>

However, the price we've had to pay for this is that we now have taken over responsibility for some fundamental browser behaviour.  Something the browser normally takes care of is now on your shoulders.
            </aside>
          </section>

        </section>
