          <section>
            <h1>JavaScript</h1>
            <p>
              <img class="fragment fade-out" src="assets/img/perf/dom-css-pre-js-render.svg" alt="The DOM and CSS are required for rendering" data-fragment-index="1" data-dc-remove="true">
              </span>
              <img class="fragment fade-in" src="assets/img/perf/dom-css-js-render.svg" alt="JavaScript can alter both the DOM and CSS which affects rendering" data-fragment-index="1" >
            </p>

            <aside class="notes" data-markdown>
Except it's not that simple.  We can - and usually do - use JavaScript to alter both the DOM and the CSS.

>>>>

This means that, in addition to the CSS, the browser has to load and execute all the JavaScript included in a page before it can render it.
            </aside>
          </section>
