          <section>
            <h1>Key points</h1>
            <ol>
              <li>Request start</li>
              <li>First paint</li>
              <li>Load complete</li>
            </ol>
            <img class="fragment" src="assets/img/perf/page-render-waterfall-images-timings.svg" alt="Key timing points shown on a waterfall diagram">
            <aside class="notes" data-markdown>
There are three key points we need to look at during page performance: request start, first paint and load complete.

 * Request start - this is when someone first requests the page (for example by clicking on a link).  This is the start point for our timings.
 * First paint - this is the first point where the browser has all the information it needs to render the page. This is referred to as first paint as this is the first time the browser will paint an image of the rendered page on the screen.
 * Load complete - this is when all the requested assets have finished loading.

 >>>>

 This is how they would fit on our waterfall diagram.
            </aside>
          </section>
