          <section>
            <h1>Page rendering</h1>
            <p><img class="fragment" src="img/perf/page-render-waterfall.svg" alt="HTML, CSS and JavaScript loading shown on a waterfall diagram"></p>
            <aside class="notes" data-markdown>
Lets have a look at this as a waterfall diagram:

>>>>

First the browser loads the HTML.  Then it loads any CSS and JavaScript that it finds in the page before rendering it and painting the result on the screen.
            </aside>
          </section>
