<section>
            <h1>Resources</h1>
            <ul>
             <li>Browser developer tools</li>
             <li>PageSpeed - <a href="https://developers.google.com/speed/pagespeed/">developers.google.com/speed/</a></li>
             <li>WebPage test - <a href="http://www.webpagetest.org/">webpagetest.org/</a></li>
            </ul>

            <aside class="notes" data-markdown>
If you want to learn more about this there some good resources out there.

The easiest place to start is in your browser's developer tools, the network tab will let you generate the the waterfall diagram for any page you visit.

If you want to learn more than Google's PageSpeed tools is a great resource.  They have a tool that will examine your pages and give recommendations on how to make them faster.  They also have a good documentation library that explains a lot of this in more detail.

If you really want to dive in at the deep end then WebPage test is the place to go.  From there you can run tests on your pages in a number of browsers from various locations round the world and they'll give you full waterfall diagrams, timing breakdowns, film-strip views and a whole host of metrics.
            </aside>
          </section>
