          <section>
            <h1>Request the page</h1>
            <p><img class="fragment" src="img/perf/request.svg" alt="Network request shown as a waterfall daigram"></p>
            <aside class="notes" data-markdown>
The first and most obvious step is that the browser has to request the page over the network.

>>>>

There are many contributing factors to this and the low level specifics of how the network connection is made are beyond the scope of this talk but a useful working assumption is that there is <a href="/blog/2012/09/15/how-long-does-an-http-request-take">a delay of around half a second</a> between requesting a page and the data starting to arrive.

(It's worth bearing in mind that due to the way mobile networks attempt to preserve power it can be significantly longer, even on 4G network with a good signal.)
            </aside>
          </section>
