<section>
  <h1>Anatomy of CSS</h1>
<pre class="code"><code data-noescape><span class="fragment" data-fragment-index="3">/*   selector   */</span>
<span class="fragment" data-fragment-index="3">element .class #id</span> <span class="fragment" data-fragment-index="2">{                      /* rule  &#9650; */</span>
  property: value;   <span class="fragment" data-fragment-index="1">/* &lt;-- declaration            <span class="fragment" data-fragment-index="2">|</span> */</span>
<span class="fragment" data-fragment-index="2">}                                         /* rule  &#9660; */</span>
</code></pre>

  <aside class="notes" data-markdown>
Before we start, let's just go over what makes up CSS.

We have properties and values...

>>>>

Which make up declarations.  One or more of which between the curly braces make up a rule...

>>>>

And a rule has one or more selectors...

>>>>

So that's the terminology we'll be using.
  </aside>
</section>
