<section>
  <blockquote>On two occasions I have been asked, 'Pray, Mr. Babbage, if you put into the machine wrong figures, will the right answers come out?' I am not able rightly to apprehend the kind of confusion of ideas that could provoke such a question.</blockquote>

  <p>Charles Babbage 1791 - 1897</p>

  <aside class="notes" data-markdown>
This quote from Charles Babbage is one of my favourites and applies quite well here.

The quality of what you get out of the preprocessor is simply an expression of the quality of what you put in.
  </aside>
</section>
