<section>
  <h1>BEM</h1>
  <h2><strong>B</strong>lock, <strong>E</strong>lement, <strong>M</strong>odifier</h2>

  <aside class="notes" data-markdown>
So we know we want to keep our specificity low - ideally one class - and we don't want to couple our CSS to our markup.  OOCSS is good for providing the basics but we're going to run into its limits quite quickly - for more complex presentations we can't just keep piling on more objects, that's also going to be unmaintainable.

When we get into the detail of presentations we are going to use BEM: Block, Element, Modifier.
  </aside>
</section>
