<section>
  <h1>Preprocessors</h1>
  <ul>
    <li class="fragment fade-out" data-fragment-index="1" data-dc-remove="true">Make it easier to write CSS</li>
    <li class="fragment fade-in" data-fragment-index="1">Make it easier to write <strong>good</strong> CSS</li>
    <li class="fragment fade-in" data-fragment-index="1">Make it easier to write <strong>bad</strong> CSS</li>
  </ul>
  <aside class="notes" data-markdown>
I don't want to spend much time on preprocessors but we need to cover them.  They an authoring tool and as such they make it easier to write CSS which is a double edged sword.

>>>>

They make it easier to write good CSS but they also make it easier to write bad CSS.
  </aside>
</section>
