<section>
  <h1>What's the problem?</h1>
  <p><img src="assets/img/font-loader/medium-fail.png" alt="LOSE"/></p>

<aside class="notes" data-markdown>
I'm sure you've all seen something like this before...

This is what happens when you use a web font and the font files haven't loaded yet.  Rather than show the text in a system font they will not show any text at all until the font loads.

Now I'm sure the web font was critical to the designer's vision of this page but I don't go to web pages to view the design vision - I go for the content and this page has no content.
</aside>
</section>
