<section>
  <h1>What's the solution?</h1>
  <p class="fragment">Use a font loader</p>

<aside class="notes" data-markdown>
What we're really like to do is show the text in a system font until the web font has loaded.  This at least will make our content available even if the design vision is compromised.

Now this isn't something you'll hear very often but, when it comes to font handling, Internet Explorer is the best browser and Chrome is the worst.

To get Chrome to behave as well as IE we'll need to use a...

>>>>

...font loader.
</aside>
</section>
