<section>
  <h1>What is a font loader?</h1>
  <p class="fragment">JavaScript that gives programmatic control over the font loading process.</p>
  <p class="fragment"><a href="https://github.com/typekit/webfontloader">https://github.com/typekit/webfontloader</a></p>

<aside class="notes" data-markdown>
So what is a font loader?

>>>>

It's a bit of JavaScript that gives us programmatic control over the font loading process.

The one I've used on a number of projects now is jointly developed Typekit and Google:

>>>>

There's a good set of documentation in the GitHub repo and it works with Typekit, Google fonts, Fontdeck, Fonts.com and - what we'll be covering here - self hosted fonts.
</aside>
</section>
